/* Shared design */
:root {
  --pnk: #ff42a5;
}

/* work-sans-from-google-fonts */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800&family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Inconsolata", monospace;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Space Mono", monospace;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
li {
  line-height: 166.667%;
}
.description500 {
  font-size: 1.25rem;
  font-weight: 500;
}
.description400 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 166.667%;
  margin-bottom: 2rem;
}
.semibold {
  font-size: 3rem;
  font-weight: 600;
}
.semibold2 {
  font-size: 1.25rem;
  font-weight: 600;
}
.extrabold {
  font-size: 6rem;
  font-weight: 800;
}
.bold {
  font-size: 3rem;
  font-weight: 700;
  line-height: 125%;
}
.bold2 {
  font-size: 2rem;
}

.btnpink {
  background-color: var(--pnk);
  color: white;
  padding: 20px 40px;
  border-radius: 48px;
  /* margin-right: 24px; */
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
}
.btnpink:hover {
  border: 2px solid var(--pnk);
  color: var(--pnk);
  background-color: white;
}
.btnwhite {
  background-color: white;
  color: var(--pnk);
  padding: 20px 40px;
  border-radius: 48px;
  /* margin-right: 24px; */
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
}
.btnwhite:hover {
  border: 2px solid white;
  color: white;
  background-color: var(--pnk);
}
.btnblue {
  margin-left: 1%;
  border: none;
  background-color: #4ec5f7;
  color: white;
  padding: 20px 40px;
  border-radius: 48px;
  cursor: pointer;
}
.btnblue:hover {
  border: 2px solid #4ec5f7;
  color: #4ec5f7;
  background-color: white;
}

.pink {
  color: var(--pnk);
}
.grey {
  color: #534c64;
}
.navy {
  color: #0b0223;
}
.gradient {
  background: linear-gradient(to bottom, #f948b2, #8758f1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/*_________________________shared design end _________________________*/

/* _________________________NAV DESIGNS_________________________ */
header {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  padding: 1.2rem 0rem;
}
nav {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoNname,
nav > ul {
  display: flex;
  align-items: center;
}
.logoNname {
  gap: 20px;
}
nav > ul {
  gap: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav li:hover {
  cursor: pointer;
  color: var(--pnk);
}
.special-li {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.1rem 1.5rem;
}
/*_________________________nav-design-end _________________________*/

/* _________________________BANNER-DESIGN-START ___________________*/
.banner {
  position: relative;
  /* max-width: 100%; */
}
.div1-background {
  position: static;
}
.bannerbg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* border: 1px solid black; */
  width: 50%;
}
.banner-container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-ul {
  list-style: none;
  margin-bottom: 41px;
}

.div2-banner {
  max-width: 711px;
}
.div2-banner > img {
  width: 100%;
}
/* _________________________BANNER-DESIGN-end ______________________*/

/* _________________________We Are Gamer START______________________*/
.we-are-gamer {
  max-width: 1440px;
  margin: auto;
  margin-top: 100px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div2gamer {
  max-width: 520px;
}
.we-are-gamer h1 {
  margin-bottom: 1.5rem;
}
.div1gamer {
  max-width: 868px;
  /* border: 3px solid tan; */
}
.div1gamer > img {
  width: 100%;
}
/* _________________________We Are Gamer END  ______________________*/

/* _________________________Funny videos start______________________*/
.funny-videos {
  padding-top: 4rem;
  max-width: 1440px;
  margin: auto;
  text-align: center;
}
.text-div > h1 {
  padding-bottom: 1rem;
}
.text-div > p {
  padding-bottom: 3rem;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  position: relative;
  max-width: 21rem;
  cursor: pointer;
}
.cardimg {
  width: 100%;
}
.play-text {
  padding-top: 25px;
  color: var(--pnk);
  font-size: 1rem;
}
.relative {
  position: absolute;
  bottom: 45%;
  right: 35%;
}
.card .relative {
  visibility: collapse;
}
.cardimg:hover {
  display: block;
  filter: brightness(30%);
  border-radius: 24px;
}
.card:hover .relative {
  visibility: visible;
}
/* _________________________funny video end_________________________ */
/* _________________________.section-4 start_________________________ */
.section-4 {
  max-width: 1440px;
  margin: auto;
  padding-top: 5%;
}
.sec4div1 {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15%;
}
.textdiv {
  text-align: right;
  max-width: 341px;
  bottom: 130px;
}
.picdiv {
  max-width: 634.833px;
  position: relative;
}
.rdr {
  width: 100%;
}
.rel-pic {
  position: absolute;
  width: 50%;
  height: 55%;
  top: 53%;
  right: 65%;
}
/* _________________________.section-4 end_________________________ */

/* _________________________career section start_________________________ */
.career-section {
  position: relative;
  margin-top: 10%;
  background-color: var(--pnk);
  color: white;
  padding-top: 6%;
  padding-bottom: 6%;
}
.career {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.career-div-1 > h1,
p {
  padding-bottom: 5%;
}
.career-div-2 {
  /* transform: scale(); */
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1;
}
.career-div-1 {
  max-width: 800px;
  z-index: 2;
}
.career-ul {
  font-size: 1.25rem;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.lis {
  margin-bottom: 1.25rem;
}
/* _________________________career section end_________________________ */

/* _________________________genre section start_________________________ */

.genre {
  display: flex;
  align-items: center;
  gap: 1rem;

  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  padding: 10px;
  cursor: pointer;
}
.genre:hover {
  border: 2px solid var(--pnk);
  color: var(--pnk);
}
.game-genre {
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  justify-content: center;
  align-items: center;
}
/* _________________________genre section end_________________________ */

/* _________________________footer section start_________________________ */
footer {
  background: #0b0223;
  color: white;
}
.footer-container {
  padding-top: 8%;
  padding-bottom: 8%;
  max-width: 1440px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pages li,
.logos li {
  list-style: none;
  padding: 5px;
  /* width: 50px; */
}
.pages li:hover,
.logos li:hover {
  color: var(--pnk);
  cursor: pointer;
}
.pages ul,
.logos ul {
  padding-top: 4rem;
  display: flex;
  max-width: 800px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer-p {
  padding-top: 10%;
  font-size: small;
}
/* _________________________footer section end_________________________ */

/* _________________________for mobile device   ____________________*/
@media screen and (max-width: 576px) {
  .banner {
    position: static;
  }
  .pages ul {
    max-width: 395px;
  }
  .pages2 ul {
    max-width: 330px;
  }
  .logos ul {
    max-width: 260px;
  }
  .footer-p {
    max-width: 250px;
  }
  .div1-background {
    position: relative;
  }
  .bannerbg {
    margin: 7.5%;
    left: -10%;
    top: -10%;
    max-width: 100%;
    height: 100%;
  }
  .extrabold {
    font-size: 3.5rem;
  }
  .semibold {
    font-size: 2rem;
  }
  .semibold2 {
    font-size: 1rem;
  }
  .description500 {
    font-size: 0.83rem;
  }
  .description400 {
    font-size: 0.75rem;
  }
  .bold {
    font-size: 2rem;
  }
  .btnblue {
    padding: 1rem 1.2rem;
  }
  .btnpink {
    padding: 1rem 1.2rem;
  }
  nav > ul,
  nav {
    flex-direction: column;
  }
  nav > ul {
    margin-top: 2rem;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 200px;
  }
  .banner {
  }
  .banner-ul {
    margin-bottom: 0.9rem;
  }
  .div1-banner {
    /* max-width: 320px; */
    /* padding: 50px; */
  }
  .we-are-gamer,
  .sec4div1 {
    flex-direction: column;
    text-align: center;
    padding: 0px 5px;
  }
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .card {
    max-width: 70%;
  }
  .play-text {
    font-size: 1rem;
  }
  .textdiv {
    text-align: center;
  }
  .picdiv {
    max-width: 70%;
  }
  .career-ul {
    font-size: 1rem;
  }
  .career-div-1 {
    max-width: 90%;
    margin: auto;
  }
  .career {
    flex-direction: column;
  }
  .career-div-2 {
    position: static;
    max-width: 100%;
  }
  .career-div-2-img {
    width: 100%;
  }
  .genre img {
    width: 30%;
  }
  .genre h6 {
    font-size: 0.7rem;
  }
  .genre {
    padding: 15px 10px;
    max-width: 90px;
  }
  .game-genre {
    padding-top: 15%;
    padding-bottom: 15%;
  }
}
/* _________________________for tablet device _____________________*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  .extrabold {
    font-size: 4rem;
  }
  .footer-p {
    max-width: 250px;
  }
  .pages ul {
    max-width: 395px;
  }
  .pages2 ul {
    max-width: 330px;
  }
  .logos ul {
    max-width: 260px;
  }
  .semibold {
    font-size: 2rem;
  }
  .semibold2 {
    font-size: 1rem;
  }
  .description500 {
    font-size: 0.83rem;
  }
  .description400 {
    font-size: 0.75rem;
  }
  .bold {
    font-size: 2rem;
  }
  nav {
    flex-direction: column;
  }
  nav > ul {
    margin-top: 2rem;
  }
  .banner {
    position: static;
    /* max-width: 100%; */
  }
  .div1-background {
    position: relative;
  }
  .bannerbg {
    position: absolute;
    top: -12%;
    left: -10%;
    margin: 7.5%;
    max-width: 100%;
    height: 100%;
  }
  .btnblue {
    padding: 1rem 1.2rem;
  }
  .btnpink {
    padding: 1rem 1.2rem;
  }
  .banner-container {
    justify-content: space-around;
  }
  .banner-ul {
    margin-bottom: 0.9rem;
  }
  .div2-banner {
    width: 50%;
  }
  .we-are-gamer,
  .sec4div1 {
    flex-direction: column;
    text-align: center;
    padding: 0px 5px;
  }
  .cards {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding: 0px 5px;
  }
  .play-text {
    font-size: 1rem;
  }
  .funny-videos {
    transform: scale(0.8);
  }
  .textdiv {
    text-align: center;
  }
  .picdiv {
    max-width: 70%;
  }
  .career-ul {
    font-size: 1rem;
  }
  .career-div-1 {
    max-width: 90%;
    margin: auto;
  }
  .career {
    flex-direction: column;
  }
  .career-div-2 {
    position: static;
    max-width: 100%;
  }
  .career-div-2-img {
    width: 100%;
  }
}
